.about-container {
    padding: 4rem 2rem;
    text-align: center;
}

.about-text {
    max-width: 800px;
    margin: 0 auto;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-text p {
    font-size: 1.25rem;
    line-height: 1.5;
}